.doctor-text{
    color: #3cb5c5e7;
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
}

.doctor-text-sp{
    color: #02123a;
    text-align: center;
    font-size: 70px;
    margin-top: 30px;
    margin-bottom: 50px;
}