.login-img{
    background-color: #a06df2;
    width: 100%;
    height: 100vh;
    padding: 0;
}
.from-login{
    background-color: #27343e;
    height: 100vh;
}
.from-container{
    margin-top: 0%;
}